body{
    margin: 0;
    font-family: roboto;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.nav-links{
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;

}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.section-one{
    background-color: #1F2937;
}

.su-header{
    font-size: 46px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.sign-up{
    display: flex;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.right{
    width: 500px;
}

.su-button{
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    align-self: flex-start;
    padding: 5px 20px;
    color: #F9FAF8;
}

img {
    max-width: 100%;
    height: auto;
}

.section-two{
    width: 70%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.random-header{
    margin: 0 auto;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.ran-secondary-text{
    font-size: 18px;
    color: #34455e;
}

.image-container{
    display: flex;
    justify-content: space-around;
}

.image{
    width: 200px;
}

.quotes{
    width: 70%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 36px;
}

.quotes-section{
    background-color: #E5E7EB;
    color: #1F2937;
}

.last-section-bg{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-section{
    background-color: #3882F6;
    width: 60%;
    margin: 0 auto;
    height: 100px;
    border-radius: 10px;
    display: flex;
}

.last-text{
    margin: 0;
}

.last-button{
    background-color: #3882F6;
    border-radius: 5px;
    align-self: flex-start;
    padding: 5px 20px;
    color: #F9FAF8;
    border: 1px solid white
}